# “EditorConfig helps maintain consistent coding styles
# for multiple developers working on the same project
# across various editors and IDEs.”

root = true
# The [*] means that we want to apply the rules that come
# under it to every file in the project. We want an indent
# size of two spaces and UTF-8 character set. We also want
# to trim trailing white space and insert a final empty line in our file.
[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true